.main__container {
    margin-top: 30px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__header {
    display: flex;
    flex-direction: column;
    gap: 25px;

    margin: 0 auto;

    width: 90%;
    max-width: 1000px;
}
.main__header > h2 {
    font-size: 1.875rem;
    font-weight: var(--bold);
}
.selectCompany {
    display: flex;
}
.main__select {
    min-width: 100%;
    width: 100%;

    border-radius: 15px;

    padding-top: 4px;
    padding-bottom: 4px;

    padding-left: 20%;
    /* text-align: center; */
}
.select__img {
    position: relative;
    right: 30px;
    bottom: 5px;
    cursor: pointer;
}
.main__header--createBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 3rem;
    max-width: 100%;
    gap: 1rem;
}
.departament-container {
    padding: 20px 0;
    margin: 20px auto;

    width: 90%;
    max-width: 1000px;
    max-height: 400px;

    overflow-y: scroll;

    background-color: var(--grey-light-color);

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.list__item--departDesc {
    background-color: var(--white-color);

    padding-top: 18px;
    padding-left: 30px;

    width: 80%;

    border-bottom: 1px solid var(--brand1);

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list__item--departDesc > h3,
h4 {
    font-weight: var(--bold);
    font-size: 1.25rem;
}
.list__item--departDesc > p,
span {
    font-size: 1.125rem;
    font-weight: var(--regular);
}
.images__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 90%;
}
.images__container > img {
    cursor: pointer;
}
.usersTitle {
    margin-top: 49px;
}

/* Modal Create Department */
.divModalSelectCompany {
    display: flex;
}
.modal__select {
    min-width: 100%;
    width: 100%;
}

/* Modal Hire  */
.hireUser__div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hireUser__div1 > div {
    margin-top: 20px;
    width: 100%;
}
.hireUser__div2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hireUser__div2 > button {
    margin-bottom: 0;
}
.ulHireOrDismiss {
    width: 100%;
}

/* Modal Edit Department */
.form__modal > textarea {
    resize: none;
    height: 7rem;
    padding: 17px;
}
@media (min-width: 420px) {
    .main__select {
        padding-left: 25%;
    }
}
@media (min-width: 600px) {
    .main__select {
        padding-left: 0;
        text-align: center;
    }

    .departament-container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .list__item--departDesc {
        max-width: 40%;
    }
}
@media (min-width: 769px) {
    .main__header {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
    }
    .selectCompany {
        width: 18.75rem;
    }
}
