.btn__stats {
    background-color: transparent;

    padding: 0.8125rem 2.8125rem;

    font-weight: var(--bold);
    font-size: var(--btnHeader-size);
}
.transparentBtn {
    border: 1px solid var(--brand1);

    color: var(--brand1);

    cursor: pointer;
}
.purpleBtn {
    border: 1px solid var(--brand1);

    background-color: var(--brand1);

    color: var(--white-color);

    cursor: pointer;
}
.greenBtn {
    background-color: #4ba036;
    color: var(--white-color);
    border: none;
    margin-bottom: 20px;
    padding: 0.8125rem 2.8125rem;
    font-weight: var(--bold);
    font-size: 1.125rem;
    cursor: pointer;
}
.redBtn {
    background-color: var(--white-color);
    color: var(--red-color);
    border: 1px solid var(--red-color);
    padding: 0.8125rem 2.8125rem;
    margin-bottom: 20px;
    font-size: 1.125rem;
    cursor: pointer;
}
